
 
 .MainPara{

    margin-left: 120px;
    width: 680px;
    height: 136px;

    [class="P1"]{
    
        font-size: 22px;
        text-align: justify;
        display: inline-flexbox;
            
    }
    
    
 }
 .mainHeading{
    margin-left: 60px;
    font-size: 40px;
    
 }



#High-light-as-red{
    color: red;
}



.image-container{

    margin-left: 150px;
    margin-top: 10px;
    width: 207px;
    height: 307px;
    display: flex;
} 


img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: 45% ;
    margin-right: 5px;
}



[class="P2"]{
    
    font-size: 15px;
    text-align: justify;
    display: inline-flexbox;
    
}

[class="P3"]{
    
    font-size: 15px;
    text-align: justify;
    display: inline-flexbox;
    
}

.left-column{
    margin-left: 150px;
    width: 350px;
    height: 307px;
}

.Right-column{
    margin-left: 40px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    width: 278px;
    height: 760px;
    background-color: rgb(202, 202, 202);
}

.bottom-main{
    margin-top: 20px;
    display: flex;
}

#Title-kiwi{
    margin-top: 10px;
    text-align: center;

}

#sub-titleoFkiwi{
    text-align: center;
    margin: -15px;
      
    
}


.img4-container{
    
    width: 75%;
    margin: auto;
    
}

#img4{
    margin-top:21px;
       
}

#north-island-brown-kiwi{
    color: blue;
    text-align: center;
    margin-top: 4px;

}


.Scientific-Specification-BC {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(120, 138, 17);
    height: 35px;
  }
  
  #Scientific-Specification {
    color: aliceblue;
    
  }

.SS-names{
    display: flex;
    margin-left: 20px;
    font-size: 12px;
    margin-top: 10px;
    
}

.center-dots{
    margin-left: 14px;
}
.Right-blue-names{
    margin-left: 14px;
    color: blue;
}

.Type-Species-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 0, 56);
    height: 35px;
    margin-top: 30px;

}
#Type-Species-title{
    color: white;
}

.Apteryx-australis-texts{
    color: blue;
    text-align: center;
}

.image5{
    width: 450px;
    height: 1%;
    margin-top: 25px;
    margin-left: 250px;
}

.page1{

    
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    background-color: rgb(255, 212, 239);
    border-radius: 20px;
    border-style: solid ;
    border-width: 2px;
    
    

}

.red-box{

    width: 20px;
    height: 20px;
    background-color: red;
    margin-top: 23px;
}

.box-red-Container{
    display: flex;
    margin-left: -30px;
}

.blue-squre{
    width: 20px;
    height: 20px;
    background-color: rgb(0, 81, 255);
    margin-top: 23px;
}

.sub-title-blue{
    display: flex;
    margin-left: -30px;
}
